.nav {
  background-color: #383838 !important; }
  .nav a:hover {
    color: gray !important; }
  .nav .nav-left a {
    color: #FFF !important;
    font-weight: bold; }
  .nav a.r-item {
    color: #C1C1C1 !important;
    padding: 0.5rem 1.75rem; }
    @media screen and (max-width: 769px -1px) {
      .nav a.r-item {
        color: gray !important; }
        .nav a.r-item:hover {
          background-color: #F1F1F1 !important; } }
  .nav .nav-toggle span {
    background-color: #C1C1C1; }
